* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.end-game {
  position: fixed;
  top: 1rem;
  right: 1rem;
}

.mole {
  display: none;
  /*background: url(https://assets.codepen.io/605876/mole-out-of-hole.svg);*/
  /*background-size: cover;*/
  height: 100%;
  width: 100%;
  border: 0;
}

.mole-hole {
  height: 100px;
  width: 100%;
  overflow: hidden;
  border-bottom: 2vmin solid red;
}

.moles {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 20vmin);
  align-items: center;
}

.info {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.info-text {
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
}
